// 纠正 tailwind 重置样式
svg, img {
  display: inline-block;
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.-my-1 {
  margin-top: -0.25rem/* -4px */;
  margin-bottom: -0.25rem/* -4px */;
}
.text-center {
  text-align: center;
}
.p-3 {
  padding: 0.75rem/* 12px */;
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.text-center {
  text-align: center;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.py-48 {
  padding-top: 12rem/* 192px */;
  padding-bottom: 12rem/* 192px */;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
}
.text-green-500 {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}